section {
    height: 80vh;
    border: 1px solid black;
}

p {
    color: blue;
}

.red {
    color: red;
}

p.red {
    color: purple;
}

#title{
    color: black;
}

.heading.red {
    color: blue;
}